body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #323838;
}

/** ================= Colors ================= **/
.red {
  color: tomato;
}

.yellow {
  color: yellow;
}

.blue {
  color: skyblue;
}
/** ================= Header ================= **/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #323838;
}

.hamburger {
  min-width: 48px;
  min-height: 48px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.hamburger:hover {
  color: #f0c81a;
  border-color: #f0c81a;
}

.hamburger:focus {
  color: #f0c81a;
  border-color: #f0c81a;
  outline: none;
}

.hamburger:active {
  color: black;
  border-color: black;
}

.search-box {
  float: right;
  width: 80%;
}

.search-field {
  width: 90%;
  min-width: 150px;
  height: 48px;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
}

.search-field:hover {
  background-color: rgb(241, 238, 238);
}

.fa-search-location {
  color: #323838;
  margin-left: -50px;
}

/** ================= Sidebar ================= **/
.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  min-height: 80%;
  height: auto;
  background-color: white;
  box-shadow: 1px 1px 5px lightgray;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

.container__sidebar {
  position: absolute;
  /* This trasform moves the menu from the page. */
  -webkit-transform: translate(-350px, 0);
  transform: translate(-350px, 0);
  /* Animate the appearance. */
  transition: transform 0.3s ease;
}

.visible {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.sidebar__units {
  text-align: center;
  margin: 40px 0 40px;
  border-radius: 5px;
}

.units {
  min-width: 38px;
  min-height: 48px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: #323838;
  background-color: white;
  margin: 5px;
}

.units:hover,
.category:hover {
  background-color: lightgrey;
}

.units:focus,
.category:focus {
  background-color: lightgrey;
  border-color: #f0c81a;
  outline: none;
}

.units:active,
.category:active {
  background-color: #6d6e70;
  color: white;
}

.category {
  width: 100%;
  min-height: 48px;
  border: none;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: white;
  color: #323838;
  margin-top: 5px;
}

/** ================= Main ================= **/
/** Main weather box **/
.main {
  width: 100%;
  min-height: 480px;
}

.main__forecast {
  padding-left: 20px;
}

.weather-location {
  font-size: 3em;
}

.favorite-label {
  font-size: 0.4em;
  margin: 10px;
}

.forecast__weather-temp {
  font-size: 1.5em;
}

/** Detailed weather box **/
.main__detailed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.detailed__today,
.detailed__tomorrow {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.detailed__period {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.detailed__title {
  margin-bottom: 5px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.today,
.tomorrow,
.period {
  text-align: center;
  width: 100%;
  height: 40px;
}

.today:hover,
.period:hover,
.tomorrow:hover {
  font-weight: 600;
}

/** Precipitation **/
.main__precipitation {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
  padding-left: 20px;
}

.precipitation__title {
  font-weight: 600;
}

.precipitation-label {
  padding-left: 10px;
}

/** ================= Favorite ================= **/

.favorite-list {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  list-style: none;
}

/** ================= History ================= **/

.history-list {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  list-style: none;
}

.hidden {
  display: none;
}
